@tailwind base;
@tailwind components;
@tailwind utilities;

.thumbs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-item {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/assets/home/featured.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
